<html>
  <head>
    <style>
    body {
      font-family: monospaced;
      font-weight: bold;
      color: #330889;
    }
    </style>
  </head>
    <body>
      <p>
        Guess a number between 0 and 100.
      </p>
      <% if guess.to_i > number %> 
        <style>
          body {background-color: #ca5e71;}
        </style>
      <% end %>
      <% if guess && guess.to_i < number %>
        <style>
          body {background-color: rgba(228, 234, 174, 0.97);}
        </style>
      <% end %>
      <% if guess.to_i == number %>
      <style>
        body {background-color: #71efb9;}
      </style>
      <% end %>
      
      <p>
        <% if cheat == "true" %>
          The secret number is <%= number %><br>
        <% end %>
        <%= message %><br>
      </p>
      <form>
        <input type='text' name='guess' />
        <input type='hidden' name='cheat' />
        <input type='submit' value='Guess!' />
      </form>
    </body>
</html>

